<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iikun.userservice.mapper.UserAddressMapper">
    <update id="updateAddress">
        UPDATE user_address
        <set>
            <if test="updateUserAddressRequest.receiverName != null">
                receiver_name = #{updateUserAddressRequest.receiverName},
            </if>
            <if test="updateUserAddressRequest.receiverPhone != null">
                receiver_phone = #{updateUserAddressRequest.receiverPhone},
            </if>
            <if test="updateUserAddressRequest.province != null">
                province = #{updateUserAddressRequest.province},
            </if>
            <if test="updateUserAddressRequest.city != null">
                city = #{updateUserAddressRequest.city},
            </if>
            <if test="updateUserAddressRequest.district != null">
                district = #{updateUserAddressRequest.district},
            </if>
            <if test="updateUserAddressRequest.detailAddress != null">
                detail_address = #{updateUserAddressRequest.detailAddress},
            </if>
            <if test="updateUserAddressRequest.isDefault != null">
                is_default = #{updateUserAddressRequest.isDefault},
            </if>
            update_time = NOW()
        </set>
        WHERE id = #{updateUserAddressRequest.addressId}
        AND user_id = #{userId}
    </update>
</mapper>